<h2>{{ 'image.changed_images'|trans }}</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>{{ 'image.file_path'|trans }}</th>
            <th>{{ 'image.change_date'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.filePath }}</td>
                <td>{{ image.changeTrackedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>