{% extends 'layout/base.html.twig' %}
{% block page_content %}
    {% include 'image/tracking_form.html.twig' %}
    {% if images is not empty %}
        {% include 'image/tracking_list.html.twig' %}
    {% endif %}
{% endblock page_content %}