<div class="card">
    <div class="card-body">
        <h4>{{ 'image.found_images'|trans }}</h4>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>{{ 'image.file_path'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <a href="{{ path('track_image_change', {'image_source': form.vars.value.page_url ~ image}) }}">{{ image }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

