<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        <h4>{{ 'image.track'|trans }}</h4>
    </div>
    <div class="card-body">
        <div class="col-md-6 order-md-1">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn" value={{ 'image.search_images'|trans }} />
            {{ form_end(form) }}
        </div>
    </div>
</div>
