<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('dashboard') }}">{{ 'menu.app_name'|trans }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('dashboard') }}">{{ 'menu.dashboard'|trans }}</a>
            <a class="nav-item nav-link" href="{{ path('crawl_url_images') }}">{{ 'menu.track_image'|trans }}</a>
        </div>
    </div>
</nav>