{% extends 'base.html.twig' %}
{% block body %}
    <header>
        {% include 'navigation/top.html.twig' %}
    </header>
    <main role="main" class="container-fluid mt-5">
        {% block page_content %}
        {% endblock page_content %}
        {% include 'layout/footer.html.twig' %}
    </main>
{% endblock body %}